<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>VanCity Life</title>
  <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <script>
    var markers = [];
    var infowindows = [];

    var places = [
      {
        latLng: {lat: 49.2797241, lng: -123.135482},
        theTitle: 'Japadog',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Japadog</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Japadog</b>, ' +
              'is a small chain of street food stands and restaurants located in Vancouver, Canada. The chain, which specializes in hot dogs that include variants of Japanese-style foods like okonomiyaki, yakisoba, teriyaki and tonkatsu, is owned by Noriki Tamura.'+
              '<p>Attribution: Japadog, <a href="https://en.wikipedia.org/wiki/Japadog">'+
              'https://en.wikipedia.org/wiki/Japadog</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: 49.2837479, lng: -123.1083359},
        theTitle: 'The Lamplighter Public House',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">The Lamplighter Public House</h1>'+
            '<div id="bodyContent">'+
              '<p><b>The Lamplighter Public House</b>, ' +
              'is the neighbourhood watering hole with a laid-back vibe, TV sports, outdoor seating & elevated pub grub.'+
              '<p>Attribution: The Lamplighter Public House, <a href="http://donnellygroup.ca/the-lamplighter/?gclid=CJqnlO6PyMkCFZFgfgodZokP7Q">'+
              'http://donnellygroup.ca/the-lamplighter/?gclid=CJqnlO6PyMkCFZFgfgodZokP7Q</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: 49.2825846, lng: -123.1114813},
        theTitle: 'Meat and Bread',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Meat and Bread</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Meat and Bread</b>, ' +
              'is a stylish spot for meat-centric sandwiches, with a tiny menu & chic industrial setting.'+
              '<p>Attribution: Meat and Bread, <a href="http://www.yelp.ca/biz/meat-and-bread-vancouver">'+
              'http://www.yelp.ca/biz/meat-and-bread-vancouver</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: 49.2645081, lng: -123.1012239},
        theTitle: 'The Foundation',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">The Foundation</h1>'+
            '<div id="bodyContent">'+
              '<p><b>The Foundation</b>, ' +
              'is known for offering a full vegetarian menu specializing in nachos.'+
              '<p>Attribution: The Foundation, <a href="https://www.zomato.com/vancouver/the-foundation-mount-pleasant-vancouver">'+
              'https://www.zomato.com/vancouver/the-foundation-mount-pleasant-vancouver</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'

      },
      {
        latLng: {lat: 49.2649513, lng: -123.1005045},
        theTitle: 'Main Street Brewery',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Main Street Brewery</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Main Street Brewery</b>, ' +
              'is a craft brewery with rotating draught, casks & beer engines. As seen on Brewdogs. The Main Thing is the Beer!'+
              '<p>Attribution: Main Street Brewery, <a href="https://twitter.com/mainstreetbeer?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">'+
              'https://twitter.com/mainstreetbeer?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: 49.2653005, lng: -123.1005935},
        theTitle: 'The Whip Restaurant and Gallery',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">The Whip</h1>'+
            '<div id="bodyContent">'+
              '<p><b>The Whip</b>, ' +
              'is an easygoing hangout with large global beer list serving comfort food with a twist plus weekend brunch.'+
              '<p>Attribution: The Whip, <a href="https://www.zomato.com/vancouver/the-whip-mount-pleasant-vancouver">'+
              'https://www.zomato.com/vancouver/the-whip-mount-pleasant-vancouver</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: 49.2652861, lng: -123.1005505},
        theTitle: 'Cartems Donuterie',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Cartems Donuterie</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Cartems Donuterie</b>, ' +
              'is known for a wide selection of creative and uniquely flavoured donuts hand made from scratch using fresh and locally sourced ingredients.'+
              '<p>Attribution: Cartems Donuterie, <a href="https://www.zomato.com/vancouver/cartems-donuterie-downtown-vancouver">'+
              'https://www.zomato.com/vancouver/cartems-donuterie-downtown-vancouver</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: 49.2818907, lng: -123.1103765},
        theTitle: 'Lighthouse Labs',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Lighthouse Labs</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Lighthouse Labs</b>, ' +
              'is Canada\'s top developer bootcamp. Based in Vancouver, we offer full-time Web Development and Mobile (iOS) Development programs.'+
              '<p>Attribution: Lighthouse Labs, <a href="http://www.lighthouselabs.ca/">'+
              'http://www.lighthouselabs.ca/</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: 49.2832653, lng: -123.1101131},
        theTitle: 'Gastown',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Gastown</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Gastown</b>, ' +
              'is a national historic site in Vancouver, British Columbia, at the northeast end of Downtown adjacent to the Downtown Eastside.'+
              '<p>Attribution: Gastown, <a href="https://en.wikipedia.org/wiki/Gastown">'+
              'https://en.wikipedia.org/wiki/Gastown</a> '+
              '(last visited Dec 09, 2015).</p>'+
            '</div>'+
          '</div>'
      },
      {
        latLng: {lat: -25.363, lng: 131.044},
        theTitle: 'Uluru (Ayers Rock)',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
              'sandstone rock formation in the southern part of the '+
              'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
              'south west of the nearest large town, Alice Springs; 450&#160;km '+
              '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
              'features of the Uluru - Kata Tjuta National Park. Uluru is '+
              'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
              'Aboriginal people of the area. It has many springs, waterholes, '+
              'rock caves and ancient paintings. Uluru is listed as a World '+
              'Heritage Site.</p>'+
              '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
              'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
              '(last visited June 22, 2009).</p>'+
            '</div>'+
          '</div>'
      }

    ];


    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: places[0].latLng
      });

      places.forEach(function makeMarkers(place, index) {

        markers[index] = new google.maps.Marker({
          position: place.latLng,
          map: map,
          title: place.theTitle,
          animation: google.maps.Animation.DROP,
          draggable: true
        });

        infowindows[index] = new google.maps.InfoWindow({
          content: place.theContent
        });

        markers[index].addListener('click', function infoClick() {
          infowindows[index].open(map, markers[index]);
        });

      });

      var infoWindow = new google.maps.InfoWindow({map: map});

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }


    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }

    function toggleBounce() {
      if (myMarker.getAnimation() !== null) {
        myMarker.setAnimation(null);
      } else {
        myMarker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }

  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHKMJG03fbtSLVLtfCVKtzcoT_KWXlZ5s&signed_in=true&callback=initMap"></script>
</body>
