<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>VanCity Life</title>
  <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <script>
    var markers = [];
    var infowindows = [];

    var places = [
      {
        latLng: {lat: 49.2797241, lng: -123.135482},
        theTitle: 'Japadog',
        theContent: ''
      },
      {
        latLng: {lat: 49.2837479, lng: -123.1083359},
        theTitle: 'The Lamplighter Public House',
        theContent: ''
      },
      {
        latLng: {lat: 49.2825846, lng: -123.1114813},
        theTitle: 'Meat and Bread',
        theContent: ''
      },
      {
        latLng: {lat: 49.2645081, lng: -123.1012239},
        theTitle: 'The Foundation',
        theContent: ''
      },
      {
        latLng: {lat: 49.2649513, lng: -123.1005045},
        theTitle: 'Main Street Brewery',
        theContent: ''
      },
      {
        latLng: {lat: 49.2653005, lng: -123.1005935},
        theTitle: 'The Whip Restaurant and Gallery',
        theContent: ''
      },
      {
        latLng: {lat: 49.2652861, lng: -123.1005505},
        theTitle: 'Cartems Donuterie',
        theContent: ''
      },
      {
        latLng: {lat: 49.2818907, lng: -123.1103765},
        theTitle: 'Lighthouse Labs',
        theContent: ''
      },
      {
        latLng: {lat: 49.2832653, lng: -123.1101131},
        theTitle: 'Gastown',
        theContent: ''
      },
      {
        latLng: {lat: -25.363, lng: 131.044},
        theTitle: 'Uluru (Ayers Rock)',
        theContent: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
              '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
              'sandstone rock formation in the southern part of the '+
              'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
              'south west of the nearest large town, Alice Springs; 450&#160;km '+
              '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
              'features of the Uluru - Kata Tjuta National Park. Uluru is '+
              'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
              'Aboriginal people of the area. It has many springs, waterholes, '+
              'rock caves and ancient paintings. Uluru is listed as a World '+
              'Heritage Site.</p>'+
              '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
              'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
              '(last visited June 22, 2009).</p>'+
            '</div>'+
          '</div>'
      }

    ];


    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: places[0].latLng
      });

      places.forEach(function makeMarkers(place, index) {

        markers[index] = new google.maps.Marker({
          position: place.latLng,
          map: map,
          title: place.theTitle,
          animation: google.maps.Animation.DROP,
          draggable: true
        });

        infowindows[index] = new google.maps.InfoWindow({
          content: place.theContent
        });

        markers[index].addListener('click', function infoClick() {
          infowindows[index].open(map, markers[index]);
        });

      });

    }

    function toggleBounce() {
      if (myMarker.getAnimation() !== null) {
        myMarker.setAnimation(null);
      } else {
        myMarker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }

  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHKMJG03fbtSLVLtfCVKtzcoT_KWXlZ5s&signed_in=true&callback=initMap"></script>
</body>
